.background {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.phone {
  background-image: url("/img/phone.jpg") !important;
}

.vinyl {
  background-image: url("/img/vinyl.jpg") !important;
}

.wood {
  background-image: url("/img/wood.jpg") !important;
}

.first {
  min-height: 80vh;
}

.section {
  padding: 10em 4em !important;
}

.section_container {
  max-width: 1200px;
}

.nav {
  border: none !important;
}

.section_header {
  padding-bottom: 2em !important;
}

.bottom_card, .bottom_link {
  padding: 2em;
  background-color: #ffffff !important;
}

.bottom_card {
  min-height: 200px;
  padding-bottom: 0px;
}

.bottom_link {
  padding-top: 0px;
  font-weight: 600;
}

.footer {
  padding: 1em !important;
}

.masthead_heading {
  max-width: 800px !important;
}

.masthead_sub {
  max-width: 600px !important;
}

.illustration {
  padding: 5em 0em !important;
}


@media (min-width: 768px) {
  .right_arrow {
    display: inline-block !important;
    visibility: initial;
  }
  .down_arrow {
    display: none !important;
    visibility: hidden;
  }
}

@media (max-width: 768px) {
  .right_arrow {
    display: none !important;
    visibility: hidden;
  }
  .down_arrow {
    display: inline-block !important;
    visibility: initial;
  }
}